* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

p {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5em;
}

/* Top  Header Area */

.top-header {
  background-color: #ffffff;
  border-bottom: 1px solid #d7d7d7;
}

/* max-width of the container page */
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  background: #ffffff;
}

.top-left-info li,
.top-right-info li {
  padding: 11px 15px;
  font-size: 12.5px;
  font-weight: 400;
}

.top-right-info li {
  border-left: 1px solid #d7d7d7;
}
.top-right-info .line {
  border-right: 1px solid #d7d7d7;
}

.top-left-info img,
.top-right-info img {
  padding: 0 8px;
}

/* main header */
.main-header {
  padding: 40px 0;
}

/* main header Logo */
.logo {
  width: 145px;
}

/* main header search Icon and text area */
.search {
  width: 40%;
  display: inline-flex;
  border-bottom: 1px solid #191919;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px;
}

@font-face {
  font-family: Helvetica;
  src: url("./fonts/Helvetica.woff");
  font-weight: normal;
  font-style: normal;
}

/* main header search input area */
.search input {
  font-family: "Helvetica ", sans-serif;
  border: none;
  padding-bottom: 10px;
  margin: 0;
  font-size: 14px;
}

/* for removing the outline border */
input:focus {
  outline: none;
}

/* main header search icon */
.search .fa-search {
  padding-bottom: 10px;
  color: #edc9d1;
  font-size: 16px;
}

/* main header cart icon */
.cart-icon {
  display: inline-flex;
  align-items: flex-end;
  position: relative;
}

/* main header cart icon basket */
.cart-icon img {
  padding-right: 8px;
}

/* main header cart icon circle */
.cart-icon .fa-circle {
  font-size: 20px;
  color: #ecc7d0;
  position: absolute;
  left: 15px;
  bottom: -10px;
}

/* main header cart icon number */
.cart-icon .number {
  position: absolute;
  color: #ffffff;
  left: 22px;
  bottom: -6px;
  font-weight: 700;
}

.cart-icon p {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 15px;
}

/* main menu */
.main-menu {
  height: 108px;
}

.main-menu #menu {
  padding-top: 60px;
  text-transform: uppercase;
  border-bottom: 1px solid #d7d7d7;
}

/* dropdown and subDropdown background color */
#menu .drop-down,
#menu .sub-drop-down {
  background: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#menu li {
  position: relative;
  font-size: 14px;
  font-weight: 700;
}
#menu li a {
  text-decoration: none;
  display: block;
  padding: 7px;
  color: black;
}
/* main dropdown */
.drop-down {
  position: absolute;
  width: 220px;
  flex-wrap: wrap;
  left: 0;
  top: -40px;
  visibility: hidden;
  transition: 0.3s;
  z-index: -1;
  padding-bottom: 25px;
}

.drop-down li {
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
}

.drop-down li a {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  display: block;
}

/* dropdown hover effect */
#menu li a:hover {
  color: #ecc7d0;
}

#menu li:hover .drop-down {
  visibility: visible;
  top: 40px;
}

#menu .drop-down li:hover {
  background-color: red;
  color: #262626;
}

/* sub dropdown */
.sub-drop-down {
  position: absolute;
  left: 102%;
  flex-wrap: wrap;
  top: -20px;
  width: 100%;
  visibility: hidden;
  transition: 0.3s;
  z-index: -1;
  padding-bottom: 25px;
}

.drop-down li:hover .sub-drop-down li {
  top: 0px;
  visibility: visible;
}
