* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

p {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5em;
}

/* Top  Header Area */

.top-header {
  background-color: #ffffff;
  border-bottom: 1px solid #d7d7d7;
}

/* max-width of the container page */
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  background: #ffffff;
}

.top-left-info li,
.top-right-info li {
  padding: 11px 15px;
  font-size: 12.5px;
  font-weight: 400;
}

.top-right-info li {
  border-left: 1px solid #d7d7d7;
}
.top-right-info .line {
  border-right: 1px solid #d7d7d7;
}

.top-left-info img,
.top-right-info img {
  padding: 0 8px;
}

/* main header */
.main-header {
  padding: 40px 0;
}

/* main header Logo */
.logo {
  width: 35%;
}

/* main header search Icon and text area */
.search {
  width: 35%;
  display: inline-flex;
  border-bottom: 1px solid #191919;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px;
}

@font-face {
  font-family: Helvetica;
  src: url("./fonts/Helvetica.woff");
  font-weight: normal;
  font-style: normal;
}

/* main header search input area */
.search input {
  font-family: "Helvetica ", sans-serif;
  border: none;
  padding-bottom: 10px;
  margin: 0;
  font-size: 14px;
}

/* for removing the outline border */
input:focus {
  outline: none;
}

/* main header search icon */
.search .fa-search {
  padding-bottom: 10px;
  color: #edc9d1;
  font-size: 16px;
}

/* main header cart icon */
.cart-icon {
  width: 30%;
  justify-content: flex-end;
  margin: 0 auto;
  display: inline-flex;
  align-items: flex-end;
}

/* main header cart icon basket */
.cart-icon img {
  padding-right: 8px;
}
.basket {
  display: flex;
  position: relative;
}
/* main header cart icon circle */
.basket .fa-circle {
  font-size: 20px;
  color: #ecc7d0;
  position: absolute;
  left: 15px;
  bottom: -10px;
}

/* main header cart icon number */
.basket .number {
  position: absolute;
  color: #ffffff;
  left: 22px;
  bottom: -6px;
  font-weight: 700;
}

.cart-icon p {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 15px;
}

/* main menu */
.main-menu {
  height: 108px;
}

.main-menu #menu {
  padding-top: 60px;
  text-transform: uppercase;
  border-bottom: 1px solid #d7d7d7;
}

/* dropdown and subDropdown background color */
#menu .drop-down,
#menu .sub-drop-down {
  background: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#menu li {
  position: relative;
  font-size: 14px;
  font-weight: 700;
}
#menu li a {
  text-decoration: none;
  display: block;
  padding: 7px;
  color: black;
}
/* main dropdown */
.drop-down {
  position: absolute;
  width: 220px;
  flex-wrap: wrap;
  left: 0;
  top: -40px;
  visibility: hidden;
  transition: 0.3s;
  z-index: -1;
  padding: 25px 0;
}

.drop-down li,
.sub-drop-down li {
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
}

.drop-down li a {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  display: block;
}

/* dropdown hover effect */
#menu li a:hover {
  color: #ecc7d0;
}

ul li:hover .drop-down {
  visibility: visible;
  top: 40px;
}

#menu .drop-down li:hover {
  background: #f7f7f7;
  color: #262626;
}

/* sub dropdown */
.sub-drop-down {
  position: absolute;
  left: 102%;
  flex-wrap: wrap;
  top: -20px;
  width: 100%;
  visibility: hidden;
  transition: 0.3s;
  z-index: -1;
  padding: 25px 0;
}

.drop-down li:hover .sub-drop-down {
  top: -25px;
  visibility: visible;
}

/* menu header */
.menu-header {
  display: none;
}

/* RWD breakpoints for small screens */
@media screen and (max-width: 900px) {
  /* top header */
  .container {
    flex-direction: column;
    justify-content: center;
  }
  ul {
    width: 100%;
    justify-content: space-between;
  }

  .top-right-info li,
  .top-right-info .line {
    border: none;
  }

  /* main header */
  .screen {
    position: relative;
    align-items: center;
  }

  .logo {
    margin-bottom: 40px;
  }

  .search {
    /* width: 50%; */
    position: absolute;
    bottom: -20px;
    left: 13px;
    padding: 0 25px;
  }

  .cart-icon {
    width: 30%;
    position: absolute;
    bottom: -20px;
    right: 13px;
  }

  /* main menu */
  #menu {
    display: table;
    width: 100%;
    background: black;
  }
  #menu li a {
    color: white;
  }
  .drop-down,
  .sub-drop-down {
    position: relative;
    width: 100%;
    left: 0;
    top: 0px;
    transition: none;
    visibility: visible;
    display: none;
    z-index: 1;
    padding: 0;
  }
  ul li:hover .drop-down {
    top: 0px;
  }
  #menu .drop-down,
  #menu .sub-drop-down {
    background: black;
  }
  .drop-down li:hover .sub-drop-down {
    top: 0px;
  }

  .drop-down li {
    width: 100%;
    padding-top: 10px;
    padding-left: 0px;
  }

  #menu .drop-down li:hover {
    background: none;
  }

  .main-menu #menu {
    padding-top: 0;
    border-bottom: none;
  }
  .main-menu {
    display: none;
  }
  .menu-header {
    display: block;
    background: #272722;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: #fff;
    font-size: 18px;
  }
  /* menu icon for small screens */
  .fa-bars {
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 5px;
  }
  /* toggle class */
  .display {
    display: block;
  }
}
